APP_NAME=WEIS
APP_ENV=development
API_V1_PREFIX=/api/v1
SECRET_KEY=change-me
ACCESS_TOKEN_EXPIRE_MINUTES=1440
DEFAULT_LANGUAGE=en
SUPPORTED_LANGUAGES=en,fr
DEFAULT_CURRENCY=XAF
DATABASE_URL=postgresql+psycopg://weis:weis@db:5432/weis
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/2
S3_ENDPOINT_URL=http://minio:9000
S3_BUCKET=weis-documents
S3_ACCESS_KEY=minio
S3_SECRET_KEY=minio123
SMS_PROVIDER=stub
SMS_SENDER_ID=WEIS
PAYMENT_PROVIDER=stub
MOBILE_MONEY_PROVIDER=stub
MAPS_PROVIDER=stub
SENTRY_DSN=
